h1 {
  color: #333;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-family: Arial, sans-serif;
}

.logo {
  color: var(--primary-color);
  font-size: var(--text-xl);
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

header {
  background: var(--accent-color);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 6px var(--shadow-color);
}
